.Nav{

    margin-left: auto;
   font-size: 20px;
   
  
   
  }
  .buttons{
    margin-left: auto;
    
  }
  .buttons-search{
      margin-left: 35%;
      height: 150px;
  }
  .buttons a {
    border-radius: 2.25rem;
    border-color: brown;
    background-color: rgb(191, 191, 209);
  }
 .newseason{
     margin: 15%;
 }
.about{
    margin: 35%;
}
 .products{
     width: 100%;
     min-height: 80vh;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     justify-items: center;
     padding: 50px;
    
 }
 .product-img{
     width: 250px;
     height: 250px;
     object-fit:contain;
 }
 
 .product-card{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 20px 0;
     border:1px solid rgb(233, 227, 227);
    
 }
 .product-description{
     display: flex;
     align-items: center;
     flex-direction: column;
 }



 * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1a6px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: rgb(249, 242, 242);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-color: rgb(191, 191, 209);
  padding: 50px;
}

.contact{
    margin-top: revert;
    margin-left: 40%;
}
